.App {
  background-color: rgb(219, 221, 245);
  height: 100vh;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.To-do-list-container {
  display: flex;
	justify-content: center;
}

.To-do-list {
  flex: 1;
}

.week{
  font-size: 1rem;
  font-weight: bold;
}

.Add-item-btn {
  padding: 0.1rem 0rem 0.1rem 1rem;
  margin: 0;
  width: 100%;
  text-align: left;
  background: white;
  border-left: solid 10px white;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.Add-item-btn:before {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  content: "＋";
  opacity: 0.5;
}

.Add-item-btn:hover {
  background: #fff8e8;
  border-left: solid 10px #ffc06e;
}

.Item-form {
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  font-size: 1em;
  width: 95%;
  height: 100%;
  background: #fff8e8;
}

.Item-form:focus {
  outline: 0;
}

.Delete-item-btn {
  padding: 0;
  width: 5%;
  background: #fff8e8;
  border: none;
  transform: rotate(45deg);
}

.Delete-item-btn:before {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  content: "＋";
  opacity: 0.05;
}

.Delete-item-btn:hover:before {
  opacity: 1;
}

.title{
  font-weight: bold;
  font-size: 2rem;
}