.App {
  background-color: #f6f6f6;
  margin: auto;
  width: auto;
  height: auto;
  text-align: center;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* PC向け */
@media screen and (min-width: 481px) {
  .To-do-list-container {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
  }
  .To-do-list {
    min-width: 400px;
    max-width: 500px;
    margin: auto;
    flex: 1;
  }
  .footer {
    margin-top: 60px;
  }
}

/* スマホ向け */
@media screen and (max-width: 480px) {
  .To-do-list-container {
    width: auto;
  }
  .To-do-list {
    width: auto;
  }
  .footer {
    margin-top: 10px;
  }
}

.Add-item-btn {
  padding: 0.1rem 0rem 0.1rem 1rem;
  margin: 0;
  width: 100%;
  text-align: left;
  background: white;
  border-left: solid 10px white;
  border-right: none;
  border-top: none;
  border-bottom: none;
}

.Add-item-btn:before {
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  content: "＋";
  opacity: 0.5;
}

.Add-item-btn:hover {
  background: #fff8e8;
  border-left: solid 10px rgb(72, 86, 237);
}

.Item-form {
  padding: 0;
  margin: 0;
  resize: none;
  border: none;
  font-size: 1em;
  width: 95%;
  height: 100%;
  background: #fff8e8;
}

.Item-form:focus {
  outline: 0;
}

.title {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
}

.sub_title {
  font-size: 1.2rem;
  color: #fff;
}
